<ActionBar title="Shared Cards" class="action-bar">
    <!-- Add Card button -->
    <ActionItem icon="res://baseline_add_black_48dp" (tap)="openDialog()" *ifAndroid></ActionItem>
    <ActionItem icon="res://add" ios.position="right" (tap)="openDialog()" *ifIos></ActionItem>    
</ActionBar>

<ListView [items]="cards" class="page list-group">
    <ng-template let-card="item">
        <StackLayout orientation="vertical" class="list-group-item" (tap)="openDialog(card)">
            <Label [text]="card.cardDefinitionName" class="list-group-item"></Label>
            <label text="Current Deck: {{card.currentDeckName || 'None'}}" class="list-group-item"></label>
        </StackLayout>
    </ng-template>
</ListView>