<ActionBar class="action-bar" title="Shared Cards">
    <!-- Cancel button -->
    <NavigationButton [nsRouterLink]="['/decks']" android.systemIcon="ic_menu_back" *ifAndroid></NavigationButton>
    <ActionItem [nsRouterLink]="['/decks']" ios.position="left" *ifIos></ActionItem>

    <!-- Add Card button -->
    <ActionItem android.position="actionBar" android.systemIcon="ic_menu_add" ios.position="right" ios.systemIcon="4" (tap)="openDialog()"></ActionItem>
</ActionBar>
<ListView [items]="cards" class="page list-group">
    <ng-template let-card="item">
        <StackLayout class="list-group-item" orientation="horizontal">
            <StackLayout class="label-layout" orientation="vertical" verticalAlignment="center" (tap)="openDialog(card)">
                <Label [text]="card.cardDefinitionName"></Label>
                <Label class="card-deck-label" text="Currently In: {{card.currentDeckName || 'Collection'}}"></Label>
            </StackLayout>
            <Button class="-outline" text="Delete" (tap)="deleteCard(card)"></Button>
        </StackLayout>
    </ng-template>
</ListView>