<ActionBar class="action-bar" title="Decks">
    <!-- Side drawer -->
    <NavigationButton icon="res://baseline_menu_black_48dp" (tap)="toggleDrawer()" *ifAndroid></NavigationButton>
    <ActionItem icon="res://menu" ios.position="left" (tap)="toggleDrawer()" *ifIos></ActionItem>

    <!-- Add Deck button -->
    <ActionItem icon="res://baseline_add_black_48dp" [nsRouterLink]="['/deck']" *ifAndroid></ActionItem>
    <ActionItem icon="res://add" ios.position="right" [nsRouterLink]="['/deck']" *ifIos></ActionItem>
</ActionBar>
<RadSideDrawer>
    <StackLayout tkDrawerContent class="page" orientation="vertical">
        <StackLayout class="sideMenuItem" [nsRouterLink]="['/cards']">
            <Label class="body sideMenuLabel" text="Manage Shared Cards"></Label>
        </StackLayout>
        <StackLayout class="sideMenuItem" orientation="horizontal" (tap)="toggleTheme()">
            <Label class="body sideMenuLabel" text="Toggle Dark Theme"></Label>
        </StackLayout>
    </StackLayout>
    <ListView tkMainContent class="page list-group" [items]="decks">
        <ng-template let-deck="item">
            <StackLayout class="list-group-item" orientation="horizontal" [nsRouterLink]="['/deck', deck.id]">
                <StackLayout class="deck-label-layout" orientation="vertical" verticalAlignment="center">
                    <Label [text]="deck.name"></Label>
                    <Label class="deck-commander-label" [text]="deck.commander"></Label>
                    <Label [text]="toColorString(deck.colorIdentity)"></Label>
                </StackLayout>
                <Button class="btn btn-primary" [nsRouterLink]="['/play', deck.id]" text="Play" verticalAlignment="center"></Button>
            </StackLayout>
        </ng-template>
    </ListView>
</RadSideDrawer>