.deck-commander-label {
    color: gray;
}

.deck-label-layout {
    margin-left: 5%;
    width: 60%;
}

.sideMenu {
    background-color: white;
}

.sideMenuItem {
    padding: 20% 0%;
}

.sideMenuLabel {
    color: black;
    font-size: 16;
    padding-left: 15%;
}