<ActionBar title="{{title}}" class="action-bar"></ActionBar>
<StackLayout orientation="vertical" class="page">
    <StackLayout orientation="vertical" style="margin: 5%">
        <TextField hint="Name" [text]="deck?.name" maxLength="64" class="input input-border"></TextField>
        <TextField hint="Commander" [text]="deck?.commander" maxLength="64" class="input input-border"></TextField>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label class="h2" text="WWW" width="18%" style="margin-left: 5%"></Label>
        <Label class="h2" text="UUU" width="18%"></Label>
        <Label class="h2" text="BBB" width="18%"></Label>
        <Label class="h2" text="RRR" width="18%"></Label>
        <Label class="h2" text="GGG" width="18%"></Label>
    </StackLayout>
</StackLayout>
