.deck-commander-label {
    color: gray;
}

.deck-label-layout {
    margin-left: 5%;
    padding-bottom: 2%;
    width: 60%;
}

.sideMenuItem {
    padding: 20% 0%;
}

.sideMenuLabel {
    font-size: 16;
    padding-left: 15%;
}