<ActionBar class="action-bar" title="{{title}}"></ActionBar>

<StackLayout class="page" orientation="vertical">
    <StackLayout class="text-field-layout" orientation="vertical">
        <TextField #nameTextField class="input input-border" hint="Name*" [text]="deck?.name" maxLength="64" (textChanged)="setSubmitEnabled($event)"></TextField>
        <TextField #commanderTextField class="input input-border" hint="Commander" [text]="deck?.commander" maxLength="64"></TextField>
    </StackLayout>
    <Label class="h3 color-label" text="Color Identity:"></Label>
    <StackLayout class="checkbox-layout" orientation="horizontal">
        <CheckBox id={{color.White}} #colorCheckBox class="h2 color-checkbox" text="W" [checked]="hasColor(color.White)"></CheckBox>
        <CheckBox id={{color.Blue}} #colorCheckBox class="h2 color-checkbox" text="U" [checked]="hasColor(color.Blue)"></CheckBox>
        <CheckBox id={{color.Black}} #colorCheckBox class="h2 color-checkbox" text="B" [checked]="hasColor(color.Black)"></CheckBox>
        <CheckBox id={{color.Red}} #colorCheckBox class="h2 color-checkbox" text="R" [checked]="hasColor(color.Red)"></CheckBox>
        <CheckBox id={{color.Green}} #colorCheckBox class="h2 color-checkbox" text="G" [checked]="hasColor(color.Green)"></CheckBox>
    </StackLayout>
    <Label class="h3 card-label" text="My Shared Cards:"></Label>
    <ListView [items]="cards" class="page list-group">
        <ng-template let-card="item">
            <StackLayout orientation="vertical" class="list-group-item">
                <Label [text]="card.name" class="list-group-item"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <StackLayout orientation="horizontal" horizontalAlignment="right">
        <Button class="btn btn-outline" text="Delete" (tap)="close('delete')" [isEnabled]="isDeleteEnabled"></Button>
        <Button class="btn btn-outline" text="Cancel" (tap)="close('cancel')"></Button>
        <Button class="btn btn-primary" text="Submit" (tap)="close('submit')" [isEnabled]="isSubmitEnabled"></Button>
    </StackLayout>
</StackLayout>
