.card-label {
    margin-left: 5%;
    margin-top: 2%;
}

.checkbox-layout {
    margin-left: 5%;
}

.color-label {
    margin-left: 5%;
}

.color-checkbox {
    width: 18%;
}

.text-field-layout {
    margin: 2%;
}