.card-label {
    margin-left: 5%;
    margin-top: 2%;
}

.card-list {
    height: 50%;
}

.checkbox-layout {
    margin-left: 5%;
}

.color-label {
    margin-left: 5%;
}

.color-checkbox {
    width: 18%;
}

.list-item-label {
    margin-left: 5%;
    width: 75%;
}

.text-field-layout {
    margin: 2%;
}