.deck-subtitle-label {
    color: gray;
}

.deck-label-layout {
    padding-bottom: 2%;
    padding-left: 20%;
    width: 65%;
}

.sideMenuItem {
    padding: 20% 0%;
}

.sideMenuLabel {
    font-size: 16;
    padding-left: 15%;
}