<ActionBar title="Commanager" class="action-bar">
    <!-- Side drawer -->
    <NavigationButton icon="res://baseline_menu_black_48dp" (tap)="toggleDrawer()" *ifAndroid></NavigationButton>
    <ActionItem icon="res://menu" ios.position="left" (tap)="toggleDrawer()" *ifIos></ActionItem>

    <!-- Add Deck button -->
    <ActionItem icon="res://baseline_add_black_48dp" [nsRouterLink]="['/deck']" *ifAndroid></ActionItem>
    <ActionItem icon="res://add" ios.position="right" [nsRouterLink]="['/deck']" *ifIos></ActionItem>
</ActionBar>
<RadSideDrawer>
    <StackLayout tkDrawerContent orientation="vertical" class="sideMenu">
        <StackLayout [nsRouterLink]="['/cards']" class="sideMenuItem">
            <Label text="Manage Shared Cards" class="sideMenuLabel"></Label>
        </StackLayout>
    </StackLayout>
    <ListView tkMainContent [items]="deckList" class="page list-group">
        <ng-template let-deck="item">
            <GridLayout orientation="horizontal" class="list-group-item">
                <Label [nsRouterLink]="['/deck', deck.id]" [text]="deck.name" class="list-group-item"></Label>
                <Button [nsRouterLink]="['/play', deck.id]" class="btn btn-primary" text="Play" horizontalAlignment="right"></Button>
            </GridLayout>
        </ng-template>
    </ListView>
</RadSideDrawer>