<ActionBar title="Commanager" class="action-bar">
    <!-- Side drawer -->
    <NavigationButton icon="res://baseline_menu_black_48dp" (tap)="toggleDrawer()" *ifAndroid></NavigationButton>
    <ActionItem icon="res://menu" ios.position="left" (tap)="toggleDrawer()" *ifIos></ActionItem>

    <!-- Add Deck button -->
    <ActionItem icon="res://baseline_add_black_48dp" [nsRouterLink]="['/deck']" *ifAndroid></ActionItem>
    <ActionItem icon="res://add" ios.position="right" [nsRouterLink]="['/deck']" *ifIos></ActionItem>
</ActionBar>
<RadSideDrawer>
    <StackLayout tkDrawerContent orientation="vertical" class="sideMenu">
        <StackLayout [nsRouterLink]="['/cards']" class="sideMenuItem">
            <Label text="Manage Shared Cards" class="sideMenuLabel"></Label>
        </StackLayout>
    </StackLayout>
    <ListView tkMainContent [items]="decks" class="page list-group">
        <ng-template let-deck="item">
            <StackLayout class="list-group-item" orientation="horizontal" [nsRouterLink]="['/deck', deck.id]">
                <StackLayout class="deck-label-layout" orientation="vertical" verticalAlignment="center">
                    <Label [text]="deck.name"></Label>
                    <Label class="deck-commander-label" [text]="deck.commander"></Label>
                    <Label [text]="toColorString(deck.colorIdentity)"></Label>
                </StackLayout>
                <Button class="btn btn-primary" [nsRouterLink]="['/play', deck.id]" text="Play" verticalAlignment="center"></Button>
            </StackLayout>
        </ng-template>
    </ListView>
</RadSideDrawer>